.active {
    font-weight: bold;
    color: #00a71c;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    color: #6c757d;
    margin-top: 20px;
    font-size: 0.9em;
}